:root {
	/* Background color for bookmark context menu */
	--arrowpanel-background: #242424 !important;
	/* Text color for bookmark context menu */
	--arrowpanel-color: #8C8C8C !important;
	/* Default color when switching pages */
	--tabpanel-background-color: #242424 !important;
}

/*hide shitty context menus*/
/*#context-openlinkinusercontext-menu, */
#context-sendlinktodevice,
#context-back,
#context-forward,
#context-bookmarkpage,
#context-reload {
  display: none !important;
}

menu, menuitem {
	color: #8C8C8C;
	background-color: #242424 !important;
	/* Allows us to modify menuitem css */
	-moz-appearance: none !important;
}

menubar > menu[disabled="true"],
menupopup > menu[disabled="true"],
popup > menu[disabled="true"],
menuitem[disabled="true"] {
  color: #4C4C4C !important;
}

/* This changes the color on hover of the context-menu items */
menubar > menu[_moz-menuactive="true"],
menupopup > menu[_moz-menuactive="true"],
popup > menu[_moz-menuactive="true"],
menuitem[_moz-menuactive="true"] {
  background-color: #333333 !important;
  color: #FFF !important;
}

/* This does the same but for disabled ones */
menubar > menu[_moz-menuactive="true"][disabled="true"],
menupopup > menu[_moz-menuactive="true"][disabled="true"],
popup > menu[_moz-menuactive="true"][disabled="true"],
menuitem[_moz-menuactive="true"][disabled="true"] {
  background-color: #242424 !important;
  color: #4C4C4C !important;
}

/* Fix weird transparency bug with context menu */
#PlacesToolbar menupopup {
	background-color: #242424;
}

/*Url and Searchbar*/
#urlbar, .searchbar-textbox, toolbarbutton {
  border-radius: 0 !important;
}

#urlbar[focused="true"],
.searchbar-textbox[focused="true"] {
  border-color: #00ADEE !important;
}


/* Tooltips. */
tooltip, tooltip[default="true"] {
    -moz-appearance: none !important;
	padding: 0px;
} 

tooltip * {
    border: 1px solid #191919 !important;
    background-color: #191919 !important;
    color: #00ADEE !important;
    font-size: 11pt !important;
    line-height: 12px !important;
    float: none;
}

/*Status bar (bottom of screen)*/
#statuspanel-label {
  background-color: #191919 !important;
  border-color: #191919 !important;
  color: #00ADEE !important;
}

/*Bookmark toolbar items*/
.bookmark-item:hover, .bookmark-item {
  border-radius: 0px !important;
}

/**/
#sidebar-box {
  background-color: #242424 !important;
  color: #8C8C8C !important;
}

.sidebar-placesTree {
  color: #8C8C8C !important;
}

/* DISABLE EXPANDING START */
    #urlbar[breakout][breakout-extend] {
        top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
        left: 0 !important;
        width: 100% !important;
    }

    #urlbar[breakout][breakout-extend] > #urlbar-input-container {
        height: var(--urlbar-height) !important;
        padding-block: 0 !important;
        padding-inline: 0 !important;
    }

    #urlbar[breakout][breakout-extend] > #urlbar-background {
        animation-name: none !important;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
    }
/* DISABLE EXPANDING END */
